/*----------------- MEDIA QUERIES ------------------*/
/*==============GENERAL DESKTOP=============*/

.results-container {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.displayNone {
  display: none;
}

#result {
  width: 80%;
  margin: 0;
}

.result-title-string {
  margin: 1vh 0 2vh;
  width: 100%;
  text-align: center;
  padding: 0;
  font-size: 2.4vh;
}

.match-title,
.message-result,
.wins-and-loses {
  width: 61%;
  font-size: 3vh;
  text-align: center;
  padding: 2vh;
  margin: 1vh auto;
  color: white;
  border-radius: 1rem;
  background: rgba(204, 69, 32, 0.8);
  backdrop-filter: blur(7px);
}

.wins-and-loses {
  font-size: 2vh;
  padding: 1vh;
}

#user-attacks,
#enemy-attacks,
#individual-results {
  width: 30%;
  font-size: 2vh;
  text-align: center;
  padding: 2vh;
  margin: 2vh 0 2vh 0;
  color: white;
  border-radius: 0.6rem;
  background: rgba(204, 69, 32, 0.3);
  backdrop-filter: blur(100px);
}

.user-attack,
.enemy-attack {
  margin: 2vh;
  padding: 1vh;
  border-radius: 0.7rem;
  background: rgba(58, 77, 180, 0.8);
}

#individual-results {
  width: 12%;
  background: rgba(58, 77, 180, 0.5);
}

.win-or-lose {
  margin: 2vh;
  padding: 1vh;
  border-radius: 0.7rem;
  background: rgba(204, 69, 32, 0.9);
  cursor: pointer;
}

#play-again {
  margin: 3vh auto 3vh;
  font-size: 3vh;
  display: block;
  padding: 2vh 5vh;
  border-radius: 0.8rem;
  cursor: pointer;
  background: rgba(58, 77, 180, 0.8);
  color: white;
  transition: 0.3s;
}

#play-again:hover {
  box-sizing: border-box;
  transform: scale(1.1);
}

/*========== BIG NOTEBOOKS ===========*/
@media screen and (max-width: 1300px) and (orientation: landscape) {
}

/*========== SMALL NOTEBOOKS ===========*/
@media screen and (max-width: 1050px) and (orientation: landscape) {
}

/*========== BIG TABLETS ===========*/
@media screen and (max-width: 1400px) and (orientation: portrait) {
  .displayFlex {
    gap: 1vw;
  }

  #result {
    width: 100%;
    margin: 0;
  }

  .result-title-string {
    font-size: 2.4vw;
  }

  #user-attacks,
  #enemy-attacks,
  #individual-results {
    width: 38%;
    font-size: 2.5vw;
    text-align: center;
    padding: 1vw;
    margin: 2vh 0 2vh 0;
    color: white;
    border-radius: 0.6rem;
    background: rgba(204, 69, 32, 0.3);
    backdrop-filter: blur(100px);
  }

  #individual-results {
    width: 20%;
    background: rgba(58, 77, 180, 0.5);
  }

  .user-attack,
  .enemy-attack {
    width: 90%;
    margin: 1.5vh;
    padding: 1vw;
    border-radius: 0.7rem;
    background: rgba(58, 77, 180, 0.8);
  }

  .win-or-lose {
    margin: 1.5vh;
    padding: 1vw;
    border-radius: 0.7rem;
    background: rgba(204, 69, 32, 0.9);
  }

  .match-title,
.message-result,
.wins-and-loses {
  width: 98%;
  
}
}

/*========== SMALL TABLETS ===========*/
@media screen and (max-width: 820px) and (orientation: portrait) {

  .match-title,
.message-result,
.wins-and-loses {
  width: 98%;
  font-size: 3vw;
  border-radius: 0.4rem;
}

.wins-and-loses {
  font-size: 2.2vw;
  padding: 1vh;
}

}

/*========== SMARTPHONES ===========*/
@media screen and (max-width: 420px) and (orientation: portrait) {
  .result-title-string {
    font-size: 2.8vw;
  }

  .match-title,
  .message-result,
  .wins-and-loses {
    width: 98%;
    font-size: 4.6vw;
    text-align: center;
    padding: 2vh;
    margin: 1vh auto;
    color: white;
    border-radius: 0.4rem;
    background: rgba(204, 69, 32, 0.8);
    backdrop-filter: blur(7px);
  }

  .wins-and-loses {
    font-size: 1.5vh;
    padding: 1vh;
  }

  .user-attack,
  .enemy-attack {
    width: 95%;
    margin: 1vh auto;
    padding: 1vw;
    border-radius: 0.3rem;
    background: rgba(58, 77, 180, 0.8);
  }

  .win-or-lose {
    width: 80%;
    margin: 1vh auto;
    padding: 1vw;
    border-radius: 0.3rem;
    background: rgba(204, 69, 32, 0.9);
  }

  #user-attacks,
  #enemy-attacks,
  #individual-results {
    width: 38%;
    font-size: 2.8vw;
    text-align: center;
    padding: 1vw;
    margin: 2vh 0 2vh 0;
    color: white;
    border-radius: 0.3rem;
    background: rgba(204, 69, 32, 0.3);
    backdrop-filter: blur(100px);
  }

  #individual-results {
    width: 20%;
    background: rgba(58, 77, 180, 0.5);
  }

  #play-again {
    margin: 4vh auto 3vh;
    font-size: 5vw;
    padding: 2vh 5vh;
    border-radius: 0.6rem;
  }
}
