/*----------------- MEDIA QUERIES ------------------*/

.displayNone {
    display: none;
}

#app {
    margin: 0;
    padding: 5vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/*========== BIG NOTEBOOKS ===========*/
@media screen and (max-width: 1300px) and (orientation: landscape) {
    

}


/*========== SMALL NOTEBOOKS ===========*/
@media screen and (max-width: 1050px) and (orientation: landscape) {


}



/*========== BIG TABLETS ===========*/
@media screen and (max-width: 1400px) and (orientation: portrait) {

    #app {
        margin: 0;
        padding: 1vh;
        height: auto;
        width: 100%;
    }

}

/*========== SMALL TABLETS ===========*/
@media screen and (max-width: 820px)and (orientation: portrait) {
    


}

/*========== SMARTPHONES ===========*/
@media screen and (max-width: 420px) and (orientation: portrait) {



}